.SettingsBar {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    grid-template-areas: 
        "p p k k q q q s s m m ."
        "p p b b b b b t t t t ."
}

.SettingsPane {
    grid-area: p;
}

.KeySelector {
    grid-area: k;
}

.QualitySelector {
    grid-area: q;
}

.MeasureSelector {
    grid-area: m;
}

.TempoSelector {
    grid-area: t;
}

.TimeSignatureSelector {
    grid-area: s
}

.MusicPlayer {
    grid-area: b
}

.ScaleTesterButtonUp {
    background-color: #38C7B2;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ScaleTesterButtonDown {
    background-color: #6A38C7;
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}